body, html {
	height: 100%;
	margin: 0;
	padding: 0;
  }
  
  .container1 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
  }
  img {
	cursor: pointer;
	max-width: 30%;
	height: auto;
	user-select: none; /* Prevent selection */
	outline: none; /* Remove default focus outline */
  }
  
  img:focus {
	outline: none; /* Remove focus outline on click */
  }
  
  .normalSize {
	transition: transform 0.2s ease-in-out;
}

.enlargedSize {
	transition: transform 0.2s ease-in-out;
	transform: scale(1.2);
  }
  body, html {
	height: 100%;
	margin: 0px;
	padding: 0px;
  }
  
  .container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 1200px; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the container horizontally */
}

.card {
    height: 400px;
    width: 400px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px;
    transition: transform 0.2s ease-in-out; /* Add transition for smooth effect */
}
#krrish {
    background-image: url('images/krrish.jpeg');
    background-size: cover;
    background-position: center -50px; /* Adjust to display the bottom part */
}
#vij{
    background-image: url('images/vij.jpeg');
    background-size: cover;
    background-position: center -250px; /* Adjust to display the bottom part */
}
#hasdeep{
    background-image: url('images/hasdeep.jpeg');
    background-size: cover;
    background-position: center -50px; /* Adjust to display the bottom part */

}
#suhani{
    background-image: url('images/suhani.jpeg');
    background-size: cover;
    background-position: center -100px; /* Adjust to display the bottom part */
    

}
#neer{
    background-image: url('images/neer.jpeg');
    background-size: cover;
    background-position: center -100px; /* Adjust to display the bottom part */


}
#tejas{
    background-image: url('images/tejas.jpeg');
    background-size: cover;
    background-position: center 0px; /* Adjust to display the bottom part */

}
#tanmay{
    background-image: url('images/tanmay.jpeg');
    background-size: cover;
    background-position: center -145px; /* Adjust to display the bottom part */

} 
#shreya{
    background-image: url('images/shreya.jpeg');
    background-size: cover;
    background-position: center -220px; /* Adjust to display the bottom part */


}

.card:hover {
    transform: scale(1.1); /* Increase size on hover */
}

.message {
	background-color: #f9f9f9;
	border: 2px solid #ccc;
	padding: 50px;
	border-radius: 10px;
  }
  