<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Click Image Redirect</title>
  <link rel="stylesheet" href="bansalCard/styles.css">
</head>
<body>
  <div class="container1">
    <img src="bansalCard/images/front-card.png" alt="Clickable Image" id="clickableImage"class="normalSize">
  </div>

  <script src="bansalCard/script.js"></script>
</body>
</html>
