<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card Layout</title>
  <link rel="stylesheet" href="bansalCard/styles.css">
</head>
<body>
    <!-- <p>hello</p> -->
  <div class="container2">
    <div class="top-row">
      <div class="card" id="krrish" ></div>
          <div class="card" id="vij"></div>
          <div class="card" id="tejas"></div>
          <div class="card" id="shreya"></div>
          <div class="card" id="tanmay"></div>
          <div class="card" id="neer"></div>
          <div class="card" id="hasdeep"></div>
          <div class="card" id="suhani"></div>
        </div>
    </div>

<script src="bansalCard/script2.js"></script>
  </div>
</body>
</html>
